<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>历史记录</title>
</head>
<body>
		<div data-role="page" id="history-info">
		<div data-role="header" data-position="fixed">
			<a href="#main-page" class="ui-btn ui-btn-inline ui-icon-back ui-btn-icon-left ui-nodisc-icon ui-btn-b" data-transition="fade">返回</a>
			<h3>任务历史记录</h3>
			<a href="#" class="ui-btn ui-btn-inline ui-icon-minus ui-btn-icon-left ui-btn-right ui-nodisc-icon ui-btn-b">清空记录</a>
		</div><!-- /header -->
		<div role="main" class="task-main">
			<div data-role="listview" data-inset="true">
				<li data-role="list-divider">2015年4月13日<span class="ui-li-count">3</span></li>
				<li>
					<a href="#"><h2>目标：</h2><p>完成算法学习</p><span class="ui-li-aside ui-mini">未完成<span></a>
					<a href="#taskEdit" data-rel="popup" class="ui-btn ui-btn-corner ui-icon-gear">
					</a></li>
				<li>
					<a href="#"><h2>目标：</h2><p>完成算法学习</p><span class="ui-li-aside ui-mini">未完成<span></a>
					<a href="#taskEdit" data-rel="popup" class="ui-btn ui-btn-corner ui-icon-gear">
					</a></li>
				<li>
					<a href="#"><h2>目标：</h2><p>完成算法学习</p></a>
					<a href="#taskEdit" data-rel="popup" class="ui-btn ui-btn-corner ui-icon-gear">
					</a></li>
				<li data-role="list-divider">2015年4月11日<span class="ui-li-count">3</span></li>
				<li>
					<a href="#"><h2>目标：</h2><p>完成算法学习</p></a>
					<a href="#taskEdit" data-rel="popup" class="ui-btn ui-btn-corner ui-icon-gear">
					</a></li>
				<li>
					<a href="#"><h2>目标：</h2><p>完成算法学习</p></a>
					<a href="#taskEdit" data-rel="popup" class="ui-btn ui-btn-corner ui-icon-gear">
					</a></li>
				<li>
					<a href="#"><h2>目标：</h2><p>完成算法学习</p></a>
					<a href="#taskEdit" data-rel="popup" class="ui-btn ui-btn-corner ui-icon-gear">
					</a></li>
			</ui></div>
		</div><!-- /main -->
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar" data-iconpos="left" >
				<ul>
				<li><a href="#" data-icon="home" class="ui-btn-active">今日任务</a></li>
				<li><a href="#" data-icon="edit">今日总结</a></li>
				<li><a href="#" data-icon="info">任务统计</a></li>
				</ul>
			</div>
		</div><!-- /footer -->
	</div><!-- /history-info -->
</body>
</html>